.markdown img {
    max-width: 100%;
}

.markdown blockquote {
    padding: 0.5rem;
    border-width: 0;
    border-left-width: 0.4rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-color: var(--cch-blockquote-border-color) !important;
    background: var(--cch-blockquote-color);
}

.markdown blockquote p {
    margin: 0;
}

.markdown .code-container {
    background-color: var(--cch-code-background-color) !important;

    width: fit-content;
    display: block;
}

.markdown .code-container code {
    color: var(--cch-code-secondary-color) !important;
}

.markdown pre .code-container code {
    color: var(--cch-code-color) !important;
}

.markdown p .code-container {
    display: inline;
    width: auto;
    margin: 0;
    padding: 0 0.3rem 0.3rem 0.3rem !important;
}

.markdown pre {
    overflow: initial;
}
