:root {
    box-sizing: border-box;

    --cch-timeline-color: #0d6efd;
    --cch-timeline-color-active: #8ebcff;
    --cch-timeline-color-bg: #ffffff;
    --cch-card-hover: #ececec;
    --cch-card-hover-2: #dbdbdb;
}

.logo {
    filter: invert(100%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --cch-timeline-color: white;
        --cch-timeline-color-active: #007728;
        --cch-timeline-color-bg: #ffffff;
        --cch-card-hover: #292c35;
        --cch-card-hover-2: #313641;
    }

    .logo {
        filter: none;
    }
}

.input-group-text {
    width: 150px !important;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline li {
    position: relative;
    list-style: none;

    padding: 0;
    margin: 0 0 0 16px;
}

.timeline li::after {
    content: "";
    display: block;
    background-color: var(--bs-body-bg);
    border: 2px solid var(--cch-timeline-color);
    border-radius: 100%;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;

    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(calc(-50% - 2px), -50%);
}

.timeline li.is-done::after {
    background-color: var(--cch-timeline-color);
}

.timeline li.is-active::after {
    background-color: var(--cch-timeline-color-active);
    border: 3px solid var(--cch-timeline-color);
    width: 18px;
    height: 18px;
}

.timeline li::before {
    content: "";
    display: block;
    background-color: var(--cch-timeline-color);
    width: 4px;
    height: 105%;
    padding: 0;
    margin: 0;

    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(calc(-50% - 2px), -50%);
}

.timeline li:first-of-type::before {
    height: 50%;
    top: 75%;
}
.timeline li:last-of-type::before {
    height: 50%;
    top: 25%;
}

.timeline li.indicate-more:first-of-type::before {
    height: 100%;
    top: 50%;
    background: linear-gradient(#ffffff00, var(--cch-timeline-color), var(--cch-timeline-color));
}

.timeline li.indicate-more:last-of-type::before {
    height: 100%;
    top: 50%;
    background: linear-gradient(var(--cch-timeline-color), var(--cch-timeline-color), #ffffff00);
}

.timeline li:last-of-type:first-of-type::before {
    height: 0;
}

.project-card-header:hover + div {
    transition: background-color 0.3s, text-decoration 0.3s;
    background-color: var(--cch-card-hover);
}

.project-card-header:hover {
    transition: background-color 0.3s, text-decoration 0.3s;
    background-color: var(--cch-card-hover-2);
}

.iconButton {
    padding: 0.21rem 0.5rem !important;
}

.markdown img {
    max-width: 100%;
}
